/* Edward Riewerts III
    Filename: javajam.css
    Last modified:3/30/2020
    Supporting Files: images
*/
*{
    box-sizing: border-box;
}

body {
    background: #fcebb6;
    color: #221811;
    font-family: Arial, Helvetica, sans-serif;
    background: url(images/background.gif);
}

header {
    height: 150px;
    background: url(images/javajamlogo.jpg);
    background-repeat: no-repeat;
    background-color: #D2B48c;
}

header,
nav,
main,
footer {
    display: block;
}

h1 {
    padding-top: 45px;
    padding-left: 220px;
    font-size: 3em;
}

h4 {
    background: #D2B48C;
    text-transform: uppercase;
    font-size: 1.2em;
    padding-left: .5em;
    padding-bottom: .25em;
    border-bottom: 1px solid #231814;
    padding-bottom: 0em;
    clear: left;
}

nav {
    float: left;
    width: 200px;
    font-weight: bold;
    text-align: center;
    font-size: 1.5em;
    padding-top: 10px;
}

nav a {
    text-decoration: none;
}

nav a:link {
    color: #fef6c2;
}

nav a:visited {
    color: #D2B48c;
}

nav a:hover {
    color: #cc9933;
}

nav ul {
    padding-left: 0px;
    list-style: none;
}

footer {
    background-color: #d2b48c;
    font-style: .6em;
    font-style: italic;
    text-align: center;
    padding-bottom: 10px;
    border-top: 2px solid #221811;
}

#wrapper{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #231814;
    min-width: 900px;
    max-width: 1280px;
    box-shadow: 2px 2px 5px 5px #221811;
}

main {
    padding: 0 2em 2em 2em;
    padding-left: 0em;
    padding-right: 0em;
    margin-left: 200px;
    display: block;
    background-color: #fef6c2;
}

main h2,
main h3,
main h4,
main p,
main div,
main ul,
main dl{
    padding-left: 3em;
    padding-right: 2em;
}

img {
    padding: 0 10px;
}

/* Table */
table {
    margin: 0 auto;
    width: 90%;
    border-spacing: 0;
    background-color: #D2B48E;
}

td,
th {
    padding: 10px;
}

tr:nth-child(even) {
    background-color: #fcebb6;
}

/* Form formating */
form {
    padding: 2em;
}

label {
    float: left;
    display: block;
    text-align: right;
    width: 8em;
    padding-right: 1em;
}

input,
textarea {
    display: block;
    margin-bottom: 1em;
}

/* Audio Styles */
audio {
    display: block;
    margin-top: 1em;
}



/* Classes */
.item {
    background-color: #faf9f7;
    margin: 2em 3em;
    width: 80%;
    padding: 1em;
    overflow: auto;
}

.details {
    padding: 0 20%;
    overflow: auto;
}

.floatleft {
    float: left;
    padding-bottom: 2em;
    padding-right: 2em;
}

/* Id selectors */
#herocouch {
    height: 250px;
    background-image: url(herocouch.jpg);
    background-size: 100% 100%;
}
#mysubmit {
    margin-left: 9.5em;
}

#herojobs {
    height: 250px;
    background-image: url(images/herojobs.jpg);
    background-size: 100% 100%;
}

#heroroad {
    background-image: url(images/heroroad.jpg);
    height: 250px;
    background-size: auto;
    /* Changed the background size from the book (100%->auto) so it fills the div container with out needing to repeat. Chapter 6*/
}

#heromugs {
    background-image: url(images/heromugs.jpg);
    height: 250px;
    background-size: auto;
    /* Changed the background size from the book (100%->auto) so it fills the div container with out needing to repeat. Chapter 6*/
}

#heroguitar {
    background-image: url(images/heroguitar.jpg);
    height: 250px;
    background-size: auto;
    /* Changed the background size from the book (100%->auto) so it fills the div container with out needing to repeat. Chapter 6*/
}

#mobile {
    display: none;
}

#desktop {
    display: inline;
}

@media only screen and (max-width: 1024px) {
    body {
        margin: 0;
        background-image: none;
    }

    #wrapper {
        width: auto;
        min-width: 0;
        margin: 0;
        padding: 0;
        box-shadow: none;
    }

    header {
        border-bottom: 5px solid #fef6c2;
    }

    h1 {
        margin-top: 0;
        margin-bottom: 1em;
        padding-top: 1em;
        padding-bottom: 1em;
        font-size: 2.5em;
    }
    
    nav {
        float: none;
        width: auto;
        padding-top: 0;
        margin: 10px;
        font-size: 1.3em;
    }

    nav ul {
        margin: 0;
        padding: 0;
    }

    nav li {
        display: inline-block;
    }

    nav a {
        padding: 1em;
        width: 8em;
        font-weight: bold;
        border-style: none;
    }

    main {
        margin: 0;
        font-size: 90%;
    }

    #heroroad,
    #heromugs,
    #heroguitar {
        margin: 0em;
        padding: 0em;
    }
       
}

@media only screen and (max-width: 768px) {
    header {
        background-image: url(images/javajammini.jpg);
        height: 128px;
    }

    h1 {
        font-size: 2em;
        text-align: center;
        padding-left: 0;
    }

    nav {
        margin: 0;
    }

    nav a {
        display: block;
        padding: 0.2em;
        width: auto;
        border-bottom: 1px solid #fef6c2;
    }

    nav li{
        display: block;
    }

    main {
        padding-top: 1px;
    }

    h2 {
        padding: .5em 0 0 .5em;
        margin-right: .5em;
    }

    .details {
        padding-right: 0;
        padding-left: 0;
    }

    #heroroad,
    #heromugs,
    #heroguitar {
        background-image: none;
        height: auto;
    }

    #herojob {
        display: none;
    }
    
    .floatleft {
        padding-right: .5em;
        padding-left: .5em;
    }

    #mobile {
        display: inline;
    }

    #desktop {
        display: none;
    }
}